<div>
  <h1>Ingredient</h1>

  <table>
    <tr>
      <td>Type:</td>
      <td><%= @ingredient.ingredient_type.name %></td>
    </tr>
    <tr>
      <td>Quanity:</td>
      <td><%= @ingredient.quantity %></td>
    </tr>
  </table>
</div>